.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #4e555b;
    background-color: white;
    font-size: 16px; /* Adjust the font size to your preference */
    padding: 8px;
    font-style: oblique /* Add padding to increase the size */

}

.marquee span {
    display: inline-block;
    animation: marquee 20s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.form-panel div, .form-panel form, .form-panel input, .form-panel select, .form-panel textarea, .form-panel label {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

.form-panel h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}

.form-panel {
    /*position: absolute;*/
    display: flex;
    justify-content: right;
    align-items: center;
    height: inherit;
    width: 100%;
}

.form-panel form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px #F89D13FF;
}

.form-panel input, .form-panel select, .form-panel textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-panel input {
    width: calc(100% - 10px);
    padding: 5px;
}

.form-panel input[type="date"] {
    padding: 4px 5px;
}

.form-panel textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.form-panel .item:hover p, .form-panel .item:hover i, .form-panel .question:hover p, .form-panel .question label:hover, .form-panel input:hover::placeholder {
    color: #F89D13FF;
}

.form-panel .item input:hover, .form-panel .item select:hover, .form-panel .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #F89D13FF;
    color: #F89D13FF;
}

.form-panel .item span {
    color: red;
}

.form-panel input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.form-panel .item i, .form-panel input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #F89D13FF;
}

.form-panel .item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}

.form-panel [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.form-panel input[type=radio], input[type=checkbox] {
    display: none;
}

.form-panel label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}

.form-panel .question span {
    margin-left: 30px;
}

.form-panel .question-answer label {
    display: block;
}

.form-panel label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.form-panel input[type=radio]:checked + label:before, .form-panel label.radio:hover:before {
    border: 2px solid #F89D13FF;
}

.form-panel label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #F89D13FF;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

.form-panel input[type=radio]:checked + label:after {
    opacity: 1;
}

.form-panel .btn-block {
    margin-top: 10px;
    text-align: center;
}

.form-panel button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #F89D13FF;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.form-panel button:hover {
    background: #F89D13FF;
}

.form-panel

@media (min-width: 568px) {
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-panel .name-item input, .form-panel .name-item div {
        width: calc(50% - 20px);
    }

    .form-panel .name-item div input {
        width: 97%;
    }

    .form-panel .name-item div label {
        display: block;
        padding-bottom: 5px;
    }
}

#quote-btn {
    padding: 0px 10px !important;
    border: 1px solid black;
    height: 10%;
    background-color: #F89D13FF;
}